<div
  title="Double click to set ON/OFF the reminder"
  class="task"
  [ngClass]="{ reminder: task.reminder }"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task.text }}

    <div>
      <fa-icon
        (click)="onDelete(task)"
        [icon]="faEdit"
        [ngStyle]="{ color: 'green' }"
      >
      </fa-icon>

      <fa-icon
        (click)="onDelete(task)"
        [icon]="faTimes"
        [ngStyle]="{ color: 'red' }"
      >
      </fa-icon>
    </div>
  </h3>

  <p>{{ task.day }}</p>
</div>
