<link
  href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
  rel="stylesheet"
/>
<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="bx bxl-soundcloud"></i>
      <div class="logo_name">Logo</div>
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <a href="#">
        <i class="bx bx-search"></i>
        <input type="text" name="" value="" placeholder="Search" />
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-user"></i>
        <span class="links_name">User</span>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-message-rounded-dots"></i>
        <span class="links_name">Message</span>
      </a>
      <span class="tooltip">Message</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-chat"></i>
        <span class="links_name">Chat</span>
      </a>
      <span class="tooltip">Chat</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-pie-chart-alt"></i>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-folder"></i>
        <span class="links_name">File Manager</span>
      </a>
      <span class="tooltip">Files</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cart"></i>
        <span class="links_name">Orders</span>
      </a>
      <span class="tooltip">Orders</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-heart"></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img src="./profile_image.jpeg" alt="" />
        <div class="name_job">
          <div class="name">Solomon Yismaw</div>
          <div class="job">BPM & Fullstack Developer</div>
        </div>
      </div>
      <i class="bx bx-log-out-circle" id="log_out"></i>
      <span class="tooltip">Logout</span>
    </div>
  </div>
</div>
