.add-form {
margin: 15px;
}

.new-task-form {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, #43cea2,  #185a9d);
}